.navBar {
    
    width: 15vw;
    // min-width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0px 20px;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}