.SearchBox {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    div {

        position: relative; 
        display: flex;
        width: 100%;

        input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid white;
            color: white;
            max-width: 90%;
            font-size: 1.2rem;
    
            &:focus {
                border: 0px solid transparent;
                border-bottom: 3px solid white;
                outline: none;
            }

        }

        span {
            position: absolute; 
            right: 0;
            top: 0;
        }
   
    }

    p {
        margin-top: 0.5em;
    }
   
}